.container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 4rem;
}

.text-about {
    color: white;
    margin: 0;
    width: 50%;
}

/* Light mode */
body.light .text-about {
    color: #100033;
}