body{
    background-color: #09001F;
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    top: 0;
    position: fixed;
    width: 100%;
    background: rgba(9, 0, 31, 0.6);
    backdrop-filter: blur(10px);
    padding: 2rem 8rem; /* Ajusta estos valores */
    box-sizing: border-box; /* Esto incluye el padding dentro del tamaño total */
}

.Container-name-menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.Name{
    font-weight: bold;
    font-size: 1.5rem;
    color: #8D5CFF;
    cursor: pointer;
}

.Menu{
    display: flex;
    gap: 2.5rem;
}

.Menu a{
    text-decoration: none;
    color: white;
    font-weight: medium;
    transition: color 0.3s ease;
    cursor: pointer;
}

.Menu a:hover{
    color: #4A00F5;
    transition: color 0.3s ease;
}

.Icon{
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease, fill 0.3s ease;
}

.Icon:hover {
    transform: translateY(-3px) rotate(10deg);
}