.animated-gradient {
    background: linear-gradient(45deg, #220070, #fad0c4, #B18FFF, #a6c1ee);
    background-size: 300% 300%;
    animation: gradientShift 8s ease infinite;
    background-clip: text;
    -webkit-background-clip: text; /* Para compatibilidad con Chrome/Safari */
    color: transparent; /* Hace que el color del texto sea transparente y se vea el fondo */
    -webkit-text-fill-color: transparent; /* Compatibilidad extra para Safari */
  }
    
  @keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  

.container-start {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-start-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-inline: 5rem;
    width: 42%;
}

.container-start-text p{
    color: white;
}

.tittle-hello{
    font-size: 2rem;
    font-weight: bold;
    color: #B18FFF;
    margin: 0;
}

.tittle-dw{
    font-size: 3rem;
    font-weight: bold;
    color: #8D5CFF;
    margin: 0;
}
.container-start-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.container-start-btn button{
    font-family: 'Poppins', sans-serif;
    background-color: #B18FFF;
    color: #220070;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container-start-btn button:hover{
    background-color: #8D5CFF;
}

.icon-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.container-start-img{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container-start-img img{
    width: 85%; 
}

