.container-start {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.container-start-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: white;
    margin-inline: 5rem;
    width: 42%;
}

.container-start-text p{
    color: #D4C2FF;
}

.tittle-hello{
    font-size: 2rem;
    font-weight: bold;
    color: #B18FFF;
    margin: 0;
}

.tittle-dw{
    font-size: 3rem;
    font-weight: bold;
    color: #8D5CFF;
    margin: 0;
}
.container-start-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container-start-btn button{
    background-color: #8D5CFF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container-start-btn button:hover{
    background-color: #B18FFF;
}

.icon-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.container-start-img{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

