.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color:rgba(33, 9, 82, 0.4);
}

.container-contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.container-contact-links .img-link:hover{
    transform: scale(1.03);
}

.container-footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
}

.text-footer-by {
    color: #8D5CFF;
    font-size: 0.8rem;
}
.text-footer-name {
    color: white;
    font-size: 0.8rem;
}

/* Light mode */
body.light .text-footer-by {
    color: white;
}

body.light .text-footer-name {
    color: #2F0099;
    font-weight: 500;
}